/configure
/autom4te.cache
/config.log
/config.status
/config.cache
/paths.mk
/aclocal.m4
/bin
/output
/cov-int
/domjudge-scan.tar.xz
*.o
.vagrant
.project
doc/judge/checktestdata-grammar.txt
import/import-RESTfeed
import/import-XMLfeed
import/import.php
misc-tools/checkinput
misc-tools/checktestdata
misc-tools/lex.cc
misc-tools/parse.cc
misc-tools/parserbase.h
misc-tools/runssh_judgehosts
misc-tools/runssh_teams
misc-tools/scannerbase.h
sql/files/defaultdata/compare/run
sql/files/defaultdata/float/check_float
sql/files/defaultdata/java_javac_detect/DetectMain.class
sql/files/examples/boolfind_cmp/check_boolfind
sql/files/examples/boolfind_run/runjury
